@use "base" as *;

#root {
  //max-width: 1280px;
  width: 100%;
  text-align: center;
}

.nav-bar {
  position: relative;
  background: #eee;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 4vh;
  padding: 1rem;
}
.nav-bar section {
  display: grid;
  grid-template-columns: auto 1fr auto;
}
.nav-bar nav {
  display: grid;
  grid-column: 3;
  grid-auto-flow: column;
  gap: 3rem;
}

.toy-index {
  margin-top: 2rem;
}

.toys-container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin: 0 15vw;
  gap: 2rem;
}

.toy-card {
  background: $can-red;
  max-width: 18rem;
  height: 100%;
  padding: 1rem;
  aspect-ratio: 4 / 3;
  text-align: left;
  border-radius: 1rem;
  button {
    margin-top: 2rem;
  }
}